* {
  font-family: 'Times New Roman', Times, serif;
}

p, li {
  font-size: 16px;
}

a {
  background-color: palegoldenrod;
}

h1 {
  font-size: 32px;
}

h2 {
  color: rgb(141, 69, 10);
}

ul,ol li {
  text-align: left;
}

.basic {
  background: palegoldenrod;
}

.card {
  display: flex;
  flex-direction: column;
  border: medium solid rgb(180, 125, 24);
  background-color: white;
  min-width: 50vw;
  max-width: 80vw;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nospace {
  line-height: 0;
}